---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
  frontmatter={{ title: "Opening in TilePad", template: "splash" }}
  hasSidebar={false}
>
  <p>You should be prompted to open <b>TilePad</b></p>

  <script>
    const location = window.location;
    const hash = location.hash;
    const query = location.search;

    const deepLink = `tilepad://deep-link${query}${hash}`;
    window.location.href = deepLink;
  </script>
</StarlightPage>
